# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

#vagrant
.vagrant

config/development.json
app.js
bin/**/*.js
public/**/*.js
routes/**/*.js
