<p>Channels balance: <a id="channels-balance" href="/channels"></a>
<div id="channles-container"></div>
<script src="https://staging.machinomy.com:9090/vynos.bundle.js"></script>
<script src="/javascripts/paid.bundle.js"></script>