<script src="https://staging.machinomy.com:9090/vynos.bundle.js"></script>

<h1 class="ui dividing header">Faucet</h1>

<button id="request-ether" class="ui positive basic button">Request 0.1 Ether</button>
<div id="faucet-container">
    <ul id="faucet-transactions"></ul>
</div>
