<script src="https://staging.machinomy.com:9090/vynos.bundle.js"></script>

<h1 class="ui dividing header">Vynos demostration page</h1>
<p id="content"></p>
<div style="float:right">
  <button id="display" class="ui secondary basic button">Show Wynos</button>
  <button id="buy" class="ui secondary basic button">Read</button>
</div>

<script src="/javascripts/paid.bundle.js"></script>