<h1 class="ui header">The Last Night of the World</h1>

<p id="content"></p>
<div style="float:right">
  <button id="buy" class="ui secondary basic button">Read</button>
</div>

<script src="http://localhost:9090/vynos.bundle.js"></script>
<script src="/javascripts/paid.bundle.js"></script>

