[Unit]
Description=Ethereum Node
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/geth --testnet --rpc --rpcport 8545 --rpccorsdomain * --rpcapi db,eth,net,web3,personal

[Install]
WantedBy=default.target
